/*Default style for website*/
body {background-color: powderblue;}
h1   {color: black;}
p    {color: night rider;}

/*Style of heading on each page*/
h1 {
    font-family: Ravie;
    text-align: center;
}

/*Style of heading 2*/
h2 {
    font-family: Georgia;
    text-align: center;
    font-size: 160%;
    font-weight: bold;
}

/*Style of heading 3*/
h3 {
    font-family: verdana;
    text-allign: left;
    font-size: 105%;
}

/*Style of heading 4*/
h4 {
    font-family: Georgia;
    text-allign: left;
    font-size: 105%;
}

/*Text style and arrangement*/
p {
    font-family: verdana;
    text-align: left;
    margin-right: 150px;
    margin-left: 50px;	
}


/*Text style and arrangement*/
p2 {
    font-family: verdana;
    text-align: center;
    margin-right: 150px;
    margin-left: 50px;	
}

/*Style of table*/
table, th, td {
    border: 1px solid black;
}

/* visited link */
a:visited {
    color: red;
}

/* unvisited link */
a:link {
    color: blue;
}

/* mouse over link */
a:hover {
    color: gold;
}

/*Arrangement of heading 4*/
h4 {
.left {
    float: left;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
}

img {
    float: center;
}

.right {
    float: right;
}

}